/* Nos projetos Next.js, usamos o sistema de módulos do CSS, usamos também o CamelCase para o nome das Classes do CSS */

.experienceBar {
     display: flex;
     align-items: center;
}

.experienceBar span{
     font-size: 1rem;
}

.experienceBar > div {
     flex: 1;
     height: 4px;
     border-radius: 4px;
     background: var(--gray-line);
     margin: 0 1.5rem;
     position: relative;

     display: flex;
     flex-direction: column;
}

.experienceBar > div > div {
     flex: 1;
     height: 4px;
     border-radius: 4px;
     background: var(--green);
}

span.currentExperience {
     position: absolute;
     top: 12px;
     transform: translateX(-50%);
}